{% extends "base.html" %}

{% block content %}
    <h1>Hello, Recruiters!</h1>
    <p>
        Hey there 👋
        <br><br>
        You've landed here because you're probably looking to hire me 👔 💼 <br> If so, you're in the right place!
        <br><br>
        My name is Pouya and I'm a Python 🐍 programmer out of Melbourne, Australia 🇦🇺
        <br><br>
        This is the <mark>only way</mark> to hire me so please do <u>not</u> call, email or message me directly
        <br><br>
        Here's how it works:
        <table>
            <tr>
                <td>Take the <br>Eligibility Test</td>
                <td style="border: none">&rarr;</td>
                <td>Submit your <br>Application</td>
                <td style="border: none">&rarr;</td>
                <td>Wait to hear back <br>within 48 hours</td>
            </tr>
        </table>
    </p>
    <br>
    <a class="button" href="{{ url_for('wizard') }}">Start Eligibility Test</a>
{% endblock %}
