{% extends "base.html" %}

{% block content %}
    <h1>Hello, Recruiters!</h1>
    <p>
        G'day 👋
        <br><br>
        You have landed on here because you are probably interested in hiring me 👔 💼 <br> If that's the case, you have come to the right place!
        <br><br>
        My name is Pouya and I'm a Python 🐍 programmer from Melbourne, Australia 🇦🇺
        <br><br>
        This is the <mark>only way</mark> to hire me so please do <u>not</u> call, email or message me directly
        <br><br>
        You must follow this process:
        <table>
            <tr>
                <td>Take the <br>Eligibility Test</td>
                <td style="border: none">&rarr;</td>
                <td>Submit your <br>Application</td>
                <td style="border: none">&rarr;</td>
                <td>Wait to hear back <br>within 48 hours</td>
            </tr>
        </table>
    </p>
    <br>
    <a class="button" href="{{ url_for('wizard') }}">Start Eligibility Test</a>
{% endblock %}
